/*  html    */
body {
    background-color: lightblue;
    font-size: 16px;
    color: black;
}
section {
    background-color: white;
    margin: 20px;
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}
section h2 {
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

section h3 {
    font-size: 2rem;
}
.designSystem {
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
    padding: 10px;
    background-color: white;
    transform: rotate(-5deg);
    margin: 20px;
}
/*  background color choices    */

.colorBox {
    width: 150px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    text-align: center;

}
#pink {
    background-color: #ff33cc;
    color: #ffffff;
}
#red {
    background-color: #ff0000;
    color: white;
}
#blue {
    background-color: #3300cc;
    color: white;
}
#black {
    background-color: #000000;
    color: white;
}
#purple {
    background-color: #9900cc;
    color: white;
}
#yellow {
    background-color: #ffff00;
    color: black;
}
#green {
    background-color: #008000;
    color: white;
}
#orange {
    background-color: #ff6633;
    color: #ffffff;
}
#pink:hover, 
#red:hover,
#blue:hover,
#black:hover,
#purple:hover,
#yellow:hover,
#green:hover,
#orange:hover {
    opacity: 0.5;
}

/*  font choices    */
.fonts {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 1.5rem;
}
#serif {
    font-family: serif;
}
#sansSerif {
    font-family: sans-serif;
}
#monospace {
    font-family: monospace;
}
#cursive {
    font-family: cursive;
}
#fantasy {
    font-family: fantasy;
}
#serif:hover,
#sansSerif:hover,
#monospace:hover,
#cursive:hover,
#fantasy:hover {
    background-color: #d3d3d3;
}


/*  Font color choices  */
.fontBox {
    width: 120px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    display: inline-block;
    text-align: center;

}
#fontPink {
    background-color: white;
    color: #ff33cc;
}
#fontPink:hover{
    background-color: #ff33cc;
    color: white;
}
#fontRed {
    background-color: white;
    color: #ff0000;
}
#fontRed:hover {
    background-color: #ff0000;
    color: white;
}
#fontBlue {
    background-color: white;
    color: #3300cc;
}
#fontBlue:hover {
    background-color: #3300cc;
    color: white;
}
#fontBlack {
    background-color: white;
    color: #000000;
}
#fontBlack:hover {
    background-color: #000000;
    color: white;
}
#fontPurple {
    background-color: white;
    color: #9900cc;
}
#fontPurple:hover {
    background-color: #9900cc;
    color: white;
}
#fontYellow {
    background-color: #ffffff;
    color: #ffff00;
}
#fontYellow:hover {
    background-color: #ffff00;
    color: #000000;
}
#fontGreen {
    background-color: white;
    color: #008000;
}
#fontGreen:hover {
    background-color: #008000;
    color: #ffffff;
}
#fontOrange {
    background-color: white;
    color: #ff6633;
}
#fontOrange:hover {
    background-color: #ff6633;
    color: #ffffff;
}
/*  website preview*/

.preview {
    text-align: center;
}
#webPreview {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border: 2px dashed black;
    border-radius: 10px;
    display: inline-block;
}
.resetButton {
    text-align: center;

}
#reset {
    border: 2px solid orange;
    border-radius: 20px;
    background-color: yellow;
    display: inline-block;
    padding: 20px;
    font-size: 1.5rem;

}
#reset:hover {
    background-color: white;
}

/*  Web preview section*/
.design {
    background-color: #ffffff;
    color: black;
    font-family:'Times New Roman', Times, serif;
}
.design .websiteNameLogo {
    margin-bottom: 40px;
}
.design .websiteNameLogo h1 {
    background-color:white;
    border: 2px solid black;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
}
.design .websiteNameLogo p {
    background-color: white;
    border: 2px solid black;
}
.design .websiteNameLogo #or {
    background-color: orange;
    color: black;
    display: inline-block;
    padding: 20px;
    border-radius: 100%;
}
.design .websiteNav a {
    text-decoration: none;
    padding: 10px;
    text-align: left;
    background-color: white;
    border: 2px solid black;
    border-end-end-radius: 20px;
}
.design .websiteNav a:hover {
    background-color: lightgrey;
}
.design .websiteNav p {
    background-color: white;
    
}
.design .websiteFooter {
    text-align: right;
}
.design .websiteFooter p {
    color: white;
    background-color: black;
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
}





/*  Google font links   */
.googleFonts {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    font-size: 1.5rem;
}
.googleFonts a {
    text-decoration: none;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 10px;

}
.googleFonts a:link {
    background-color: blue;
    color: white;
}
.googleFonts a:visited {
    background-color: lightblue;
    color: black;
}
.googleFonts a:hover{
    background-color: white;
    color: black;
}

/*  footer styles*/
footer {
    text-align: right;
}
footer p {
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    display: inline-block;
    padding: 10px;
}